alembic==1.5.8
altgraph==0.17
anyio==3.2.1
apache-airflow==2.2.4
apache-airflow-providers-ftp==1.0.1
apache-airflow-providers-http==1.1.1
apache-airflow-providers-imap==1.0.1
apache-airflow-providers-sqlite==1.0.2
apispec==3.3.2
appdirs==1.4.4
argcomplete==1.12.3
asgiref==3.3.0
async-generator==1.10
attrs==20.3.0
Babel==2.9.0
blinker==1.4
cached-property==1.5.2
cattrs==1.0.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
clickclick==20.10.2
colorama==0.4.4
colorlog==5.0.1
commonmark==0.9.1
connexion==2.7.0
contextvars==2.4
croniter==0.3.37
cryptography==3.4.7
dataclasses==0.7
defusedxml==0.7.1
dill==0.3.3
distlib==0.3.2
Django==1.11.11
django-redis==4.12.1
djangorestframework==3.12.2
dnspython==2.1.0
docutils==0.17.1
email-validator==1.1.2
filelock==3.0.12
Flask==1.1.2
Flask-AppBuilder==3.3.1
Flask-Babel==1.0.0
Flask-Caching==1.10.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
future==0.18.2
gevent==20.9.0
graphviz==0.16
greenlet==0.4.17
gunicorn==19.10.0
h11==0.12.0
httpcore==0.13.6
httpx==0.18.2
idna==2.10
immutables==0.15
importlib-metadata==1.7.0
importlib-resources==1.5.0
inflection==0.5.1
iso8601==0.1.14
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
lazy-object-proxy==1.6.0
lockfile==0.12.2
lxml==4.6.1
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
marshmallow==3.11.1
marshmallow-enum==1.5.1
marshmallow-oneofschema==2.1.0
marshmallow-sqlalchemy==0.23.1
natsort==7.1.1
numpy==1.19.2
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.0
opencv-python==4.4.0.44
pandas==1.1.5
pbr==5.6.0
pefile==2019.4.18
pendulum==2.1.2
pep562==1.0
prison==0.1.3
psutil==5.8.0
pycparser==2.20
Pygments==2.8.1
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
PyJWT==1.7.1
pymongo==3.11.0
PyMySQL==0.10.1
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.0.1
PyQt5-Qt==5.15.2
PyQt5-sip==12.8.1
pyqt5-tools==5.15.2.3.0.2
pyqtgraph==0.11.1
PyQtWebEngine==5.15.2
PyQtWebEngine-Qt==5.15.2
pyrsistent==0.17.3
python-daemon==2.3.0
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2020.4
pytzdata==2020.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
qimage2ndarray==1.8.3
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
redis==3.5.3
requests==2.24.0
rfc3986==1.5.0
rich==9.2.0
setproctitle==1.2.2
six==1.15.0
sniffio==1.2.0
SQLAlchemy==1.3.24
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.37.0
sqlparse==0.4.1
stevedore==3.3.0
swagger-ui-bundle==0.0.8
tabulate==0.8.9
tenacity==6.2.0
termcolor==1.1.0
text-unidecode==1.3
typing==3.7.4.3
typing-extensions==3.7.4.3
unicodecsv==0.14.1
urllib3==1.25.11
virtualenv==20.4.7
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
Werkzeug==1.0.1
WTForms==2.3.3
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
xutils==2.2.2
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.1.2
